.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2e2b2b;
}

h1 {
  margin: 30px;
  font-family:  cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color:  #a5e9e1;
}

p {
  font-size: 2rem;
  color:#388186;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
